/* Body Styling */
body {
  font-family: 'Space Mono', monospace;
}


/* Container */
.container {
  padding: 7em 0;
  margin: 0 auto;
  width: 100%;
}

/* Image Styling */
.scarecrow {
  width: 40%;
  float: left;
  margin: 0px 40px 10px 40px;
}

/* Text Styling */
.text {
  max-width: 95%;
}

/* Header Text Styling */
.header-text {
  position: absolute;
  top: 30px;
  left: 40px;
  font-size: 25px;
  font-weight: 1000;
  color: #333333;

}

.text h2 {
  font-size: 70px;
  font-weight: 2000;
  margin-top: 10px;
  color: #333333;
}

.text p {
  font-size: 30px;
  margin-top: 60px;
  margin-right: 7em;
  color: #4F4F4F;
}

.button {
  display: inline-block;
  margin-top: 60px;
  padding: 20px 30px;
  background-color: #333333;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 500;
}

.button:hover {
  background-color: #555555;
}

footer{
  text-align: center;
}



